.question-number {
    font-size: 160px;
    opacity: 25%;
    position: absolute;
    transform: translate(-180px, -35%);
    user-select: none;
    z-index: 0;

    @media screen and (max-width: 991px) {
        visibility: hidden;
    }
}

hr {
    opacity: 10%;
}